main{
    border: 1px solid red;
    height: 720px;
    width: 1100;
    margin: auto;
}
header{
    border: 1px solid blue;
    height: 100px;
}
nav{
    border: 1px solid yellow;
    height: 80px;
}
section{
    border: 1px solid green;
    height: 400px;
}
footer{
    border: 1px solid purple;
    height: 100px;
}
